<div>Search Options</div>
<div>First Option</div>
<mat-form-field>
        <input matInput placeholder="Invitation ID">
</mat-form-field>
<span>&nbsp;OR&nbsp;</span>
<mat-form-field>
        <input matInput placeholder="Reference No">
</mat-form-field>
<span>&nbsp;OR&nbsp;</span>
<mat-form-field>
        <input matInput placeholder="Loan Number">
</mat-form-field>
<div>Second Option</div>
<mat-form-field>
        <input matInput placeholder="First Name">
</mat-form-field>
<label>+</label>
<mat-form-field>
        <input matInput placeholder="Last Name">
</mat-form-field>
<br>
<mat-form-field>
        <input matInput placeholder="Zip Code">
</mat-form-field>
<span>&nbsp;OR&nbsp;</span>
<mat-form-field>
        <input matInput placeholder="Date of Birth (dd/mm/yyyy)">
</mat-form-field>
<div>
        <p><span matBadge="4" matBadgeOverlap="false">Queue</span></p>
        <p><span matBadge="5" matBadgeOverlap="false">Document review</span></p>
        <p><span matBadge="66" matBadgeOverlap="false">Fraud</span></p>
        <p><span matBadge="3" matBadgeOverlap="false">Sales</span></p>
</div>